@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply the animation to the entire body or main container */
body {
  background: linear-gradient(270deg, #0000ff, #4b0082, #440a45, #2a002f);
  background-size: 1400% 1400%;
  animation: gradient 10s ease infinite;
}

  